<header>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class=" navbar-brand">Weather App</a>
            <form class="d-flex" role="search" action="/" method="GET">
                <input class="form-control me-2" type="text" name="loc" placeholder="Enter Location"
                    aria-label="Search">
                <input type='hidden' name="page" value="<%= current_page %>">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>