<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-3 d-none d-sm-block h-100">
            <%- include("./partials/locations.ejs") %>
        </div>

        <div class="col-md-9 h-100">
            <%- include("./partials/weather_info.ejs") %>
        </div>
    </div>
</div>