body {
    background-color: #fff;
}

div.wrapper {
    padding: 10;
    height: 100vh;
}

main {
    height: calc(100% - 56px);
}


ul.pagination {
    justify-content: flex-end;
    --bs-pagination-color: #424547;
    --bs-pagination-border-color: #c1c3c4;
    margin-bottom: 0px;
}

.btn-outline-success {
    --bs-btn-color: #424547;
    --bs-btn-border-color: #424547;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424547;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    --bs-gutter-x: 0;
}

.left-content {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #545454;
}


.row {
    --bs-gutter-x: 0;
    width: 100%;
}

p {
    margin-bottom: 0;
}


header,
.footer {
    background-color: #c3caca;
    width: 100%;
}

.footer {
    height: 64px;
    padding: 20px;
    width: 100%;
    bottom: 0;
    text-align: center;
}